<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.breeze.mybatis.mapper.UserMapper">
    <select id="selectUser" resultType="org.breeze.mybatis.domain.User">
        select * from Blog where id = #{id}
    </select>
</mapper>